################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebGental BookStore/.vs/WebGental BookStore
/WebGental BookStore/WebGental BookStore/bin/Debug/net6.0
/WebGental BookStore/WebGental BookStore/obj
